<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dateCreated</key>
	<date>2026-10-04T10:22:40Z</date>
	<key>directoryImportMode</key>
	<string>concurrent</string>
	<key>externalLocations</key>
	<array/>
	<key>rootId</key>
	<dict>
		<key>hash</key>
		<string>0~zjToUSj3jixj0XtJRKhPNnWLlrE-vIy2AF7Btu9E4I9MiI3hxV3C0JSffMrVvC4K74HnPpaECSzscHy7yrbrZg==</string>
	</dict>
	<key>storage</key>
	<dict>
		<key>backend</key>
		<string>fileBacked2</string>
		<key>compression</key>
		<string>standard</string>
	</dict>
	<key>version</key>
	<dict>
		<key>major</key>
		<integer>3</integer>
		<key>minor</key>
		<integer>60</integer>
	</dict>
</dict>
</plist>
